@use "./colors";
.form {
  height: 100%;
  :global {
    .form-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 36px;
      align-items: center;
      .title {
        font-size: 18px;
        color: colors.$white;
      }
      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        gap: 36px;
        .input-fields {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 12px;
          .input-field {
            font-size: 18px;
            padding: 0.25em;
          }
          .error-message {
            font-size: 14px;
            font-weight: 500;
            color: red;
          }
        }
        .button-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          gap: 36px;
          .text-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 8px;
            .text {
              font-size: 14px;
              font-weight: 500;
              color: colors.$white;
              width: 260px;
              text-align: center;
              .click-text {
                color: yellow;
                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
