@use "./colors";
@use "./media";
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  :global {
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 12px 12px;
      height: 64px;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      .icon-group {
        display: flex;
        align-items: center;
        .list-menu {
          display: none;
          height: 36px;
          box-shadow: 2px 2px 4px 1px colors.$dark-grey;
          padding: 3px;
          text-align: center;
          margin: 0 5px;
          transition: 0.2s;
          &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 18px colors.$dark-grey;
            transform: scale(1.1);
          }
          &:active {
            box-shadow: 2px 2px 8px 1px colors.$dark-grey;
            transform: scale(1);
          }
        }
        .logo-img {
          height: 42px;
          margin-top: 3px;
          transition: 0.25s;
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
          &:active {
            transform: scale(1);
          }
        }
        @media (max-width: 750px) {
          .list-menu {
            display: flex;
          }
        }
      }
      .navbar {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding: 0 128px;
        align-items: center;
        gap: 64px;
        font-size: 16px;
        font-weight: bold;
        .header-menu {
          display: flex;
          list-style: none;
          gap: 48px;
          &:hover {
            cursor: pointer;
          }
          .menu-item {
            .menu-link {
              text-decoration: none;
              color: colors.$white;
              display: inline-block;
              position: relative;
              transition: 0.2s;
              &:hover {
                color: white;
                transform: scale(1.1);
              }
              &:active {
                transform: scale(1);
              }
              &::after {
                content: "";
                position: absolute;
                width: 60%;
                transform: scaleX(0);
                height: 2px;
                bottom: -0.4em;
                left: 20%;
                background-color: white;
                transform-origin: bottom;
                transition: transform 0.3s ease-out;
              }
              &:hover:after {
                transform: scaleX(1);
                transform-origin: bottom;
              }
            }
          }
        }
      }
      .navList {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
        display: flex;
        position: absolute;
        width: 128px;
        left: 0px;
        top: 64px;
        padding: 0 24px;
        flex-direction: column;
        align-items: flex-start;
        .header-menu {
          padding: 24px 0;
          display: flex;
          flex-direction: column;
          gap: 24px;
          list-style: none;
          font-size: 14px;
          .menu-item {
            transition: 0.2s;
            &:hover {
              color: white;
              transform: scale(1.1);
            }
            .menu-link {
              color: colors.$white;
              text-decoration: none;
            }
          }
        }
      }
      .sign-in-section {
        display: flex;
        align-items: center;
      }
      .sign-out-section {
        color: white;
        display: flex;
        gap: 24px;
        align-items: center;
      }
    }
  }
}
