.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  :global {
    .home-page {
      padding-top: 200px;
      display: flex;
      justify-content: center;
      .cards {
        width: 1200px;
        display: flex;
        justify-content: space-around;
        .card-link {
          text-decoration: none;
        }
      }
    }
    .weather-page {
      position: relative;
      height: 100%;
      .search-section {
        position: absolute;
        top: 14%;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .weather-section {
        position: absolute;
        top: 28%;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .currency-page {
      position: relative;
      height: 100%;
      .selector-section {
        position: absolute;
        top: 18%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
      }
      .currency-display {
        position: absolute;
        top: 24%;
        width: 100%;
        color: white;
        text-align: center;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .crypto-page {
      position: relative;
      height: 100%;
      .carousel {
        position: absolute;
        top: 40%;
        width: 100%;
        height: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        display: flex;
        justify-content: center;
      }
    }
  }
}
