@import './Font.css';

.mainContent {
  margin:0;
  padding-top: 5em;
  margin-bottom: 5rem;
  display: inline-block;
  min-height: 50vh;
  text-align: center;
}

.navigationBar{
  background-color: #2C2B26;
}

#logo {
  font-family: 'Lobster';
  font-size: x-large;
  color: white;
  margin-left: 5rem;
}

.logButton {
  margin-right: 5rem;
  margin-left: 5rem;
}

.alertMessage{
  margin-top: 3rem;
  width: 50%;
  display: inline-block;
}

.jumbo{
  background: url(assets/jumbotronImg.png) ;
}


.jumboText{
  font-family: 'Spartan';
} 

body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 3rem;
}

.overlay{
  text-align: center;
  color: white;
}

.profileText{
  font-family: 'Spartan';
}

#amountInput {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 0.2em;
  margin-right: 0.5em;
  padding: 0.25em;
  width: 10em;
}

.devider{
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  margin: 0.5rem;
}

.weatherCard {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 3rem;
}

.weatherForm{
  width: 50%;
  display: inline-block;
}

.homeDeck{
  display: inline-block;
}

.currentWeather{
  margin-bottom: 1rem;
}
.avatar {
  margin-bottom: 5rem;
}

#lastLink {
  margin-right: 5rem;
}

.linkText {
  color: rgb(179, 179, 179);
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  position: fixed;
  bottom:0;
  width: 100%;
  font-size: small;
  font-family: 'Spartan';
  background-color: rgb(54, 59, 56);
  color: white;
}